# Dependencies
node_modules

# Build output
dist
dist-ssr

# Rust / Tauri build artifacts
src-tauri/target/
src-tauri/gen/schemas

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.*
*.local

# API keys / secrets
*.http
memo/
docs/
docs

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
